<html>

<head>
    <title>Mailcontrols - Auto Filter</title>
</head>
<body>

<h1>Current Rules</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Address</th>
        <th>Mark Seen?</th>
        <th>Destination</th>
        <th>Subject Match</th>
    </tr>
    {% for item in rules %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{% if not item.username %}*{% else %}{{ item.username }}{% endif %}@{{ item.domain }}</td>
        <td>{{ item.seen }}</td>
        <td>{{ item.folder }}</td>
        <td>{{ item.subject }}</td>
    </tr>
    {%  endfor %}
</table>

</body>

</html>